     body
     {
         background-color: #e08a0a;
         color: #1b23c6;
         padding: 20px;
         text-align: center;
     }
     .body-all
     {
         font-family: 'Varela Round', sans-serif;
         background-color: #E8E6E6;
         margin: 0;
         padding: 0;
     }
     .jaune
     {
         position: absolute ;
         margin-top: -5px;
         width: 100%;
         padding: 0 0 0 0;
         background: #d7d613;
     }
     .mixers{
         margin-left: 750px;

     }
     .blackSquare
     {
         position: absolute;
         margin-top: 300px;
         width: 100%;
         padding: 0 0 0 0;
         background: #000000;
         text-align: center;
     }
     #MEGA
     {
         margin-top: 70px;
         float: left;
         margin-left: -175px;
         font-weight: bold;
         font-size: 70px;
     }
     #MIXER
     {
         float: right;
         margin-top: 70px;
         font-weight: bold;
         font-size: 70px;
         margin-right: 600px;

     }

     }
     .buttonPlacer
     {
         display: inline-block;
         background-color: #d7d613;
         border-radius: 10px;
         border: 4px double #cccccc;
         color: #eeeeee;
         font-size: 28px;
         padding: 20px;
         width: 100px;
         cursor: pointer;
         margin-left: -400px;
         float: left;
         margin-top: 15px;
         position: absolute;
     }
     .BoutonInitialisers
     {
         display: inline-block;
         background-color: #d7d613;
         border-radius: 10px;
         border: 4px double #cccccc;
         color: #eeeeee;
         font-size: 28px;
         padding: 20px;
         width: 100px;
         cursor: pointer;
         margin-left: -50px;
         float: left;
         margin-top: 15px;
         position: absolute;
     }
     .boutonPersonne1
     {
         display: inline-block;
         background-color: #790766;
         border-radius: 10px;
         border: 2px double #cccccc;
         color: #eeeeee;
         font-size: 28px;
         padding: 20px;
         width: 200px;
         height: 300px;
         cursor: pointer;
         margin-left: -600px;
         float: left;
         margin-top: 400px;
         position: absolute;
     }
     .boutonPersonne2
     {
         display: inline-block;
         background-color: #fae001;
         border-radius: 10px;
         border: 2px double #cccccc;
         color: #eeeeee;
         font-size: 28px;
         padding: 20px;
         width: 200px;
         height: 300px;
         cursor: pointer;
         margin-left: -350px;
         float: left;
         margin-top: 400px;
         position: absolute;
     }
     .boutonPersonne3
     {
         display: inline-block;
         background-color: #f100d1;
         border-radius: 10px;
         border: 2px double #cccccc;
         color: #eeeeee;
         font-size: 28px;
         padding: 20px;
         width: 200px;
         height: 300px;
         cursor: pointer;
         margin-left: -100px;
         float: left;
         margin-top: 400px;
         position: absolute;
     }
     .boutonPersonne4
     {
         display: inline-block;
         background-color: #f1f000;
         border-radius: 10px;
         border: 2px double #cccccc;
         color: #eeeeee;
         font-size: 28px;
         padding: 20px;
         width: 200px;
         height: 300px;
         cursor: pointer;
         margin-left: 150px;
         float: left;
         margin-top: 400px;
         position: absolute;
     }
     .boutonPersonne5
     {
         display: inline-block;
         background-color: #d74b13;
         border-radius: 10px;
         border: 2px double #cccccc;
         color: #eeeeee;
         font-size: 28px;
         padding: 20px;
         width: 200px;
         height: 300px;
         cursor: pointer;
         margin-left: 400px;
         float: left;
         margin-top: 400px;
         position: absolute;
     }
     .boutonPersonne6
     {
         display: inline-block;
         background-color: #30d713;
         border-radius: 10px;
         border: 2px double #cccccc;
         color: #eeeeee;
         font-size: 28px;
         padding: 20px;
         width: 200px;
         height: 300px;
         cursor: pointer;
         margin-left: -600px;
         float: left;
         margin-top: 750px;
         position: absolute;
     }
     .boutonPersonne7
     {
         display: inline-block;
         background-color: #d7137f;
         border-radius: 10px;
         border: 2px double #cccccc;
         color: #eeeeee;
         font-size: 28px;
         padding: 20px;
         width: 200px;
         height: 300px;
         cursor: pointer;
         margin-left: -350px;
         float: left;
         margin-top: 750px;
         position: absolute;
     }
     .boutonPersonne8
     {
         display: inline-block;
         background-color: #30d913;
         border-radius: 10px;
         border: 2px double #cccccc;
         color: #eeeeee;
         font-size: 28px;
         padding: 20px;
         width: 200px;
         height: 300px;
         cursor: pointer;
         margin-left: -100px;
         float: left;
         margin-top: 750px;
         position: absolute;
     }
     .boutonPersonne9
     {
         display: inline-block;
         background-color: #9213d7;
         border-radius: 10px;
         border: 2px double #cccccc;
         color: #eeeeee;
         font-size: 28px;
         padding: 20px;
         width: 200px;
         height: 300px;
         cursor: pointer;
         margin-left: 150px;
         float: left;
         margin-top: 750px;
         position: absolute;
     }
     .boutonPersonne10
     {
         display: inline-block;
         background-color: #13d2a5;
         border-radius: 10px;
         border: 2px double #cccccc;
         color: #eeeeee;
         font-size: 28px;
         padding: 20px;
         width: 200px;
         height: 300px;
         cursor: pointer;
         margin-left: 400px;
         float: left;
         margin-top: 750px;
         position: absolute;
     }

     .Smiley1
     {
         background-image: url("smiley/smiley-1.png");
         height: 134px;
         width: 129px;
         margin-left: 40px;
         position: absolute;
     }
     .Smiley2
     {

         background-image: url("smiley/smiley-2.png");
         height: 134px;
         width: 129px;
         margin-left: 40px;
         position: absolute;

     }
     .Smiley3
     {

         background-image: url("smiley/smiley-3.png");
         height: 134px;
         width: 129px;
         margin-left: 40px;
         position: absolute;
     }
     .Smiley4
     {

         background-image: url("smiley/smiley-4.png");
         height: 134px;
         width: 129px;
         margin-left: 40px;
         position: absolute;
     }
     .Smiley5
     {

         background-image: url("smiley/smiley-5.png");
         height: 134px;
         width: 129px;
         margin-left: 40px;
         position: absolute;
     }
     .Smiley6
     {

         background-image: url("smiley/smiley-6.png");
         height: 134px;
         width: 129px;
         margin-left: 40px;
         position: absolute;
     }
     .Smiley7
     {

         background-image: url("smiley/smiley-7.png");
         height: 134px;
         width: 129px;
         margin-left: 40px;
         position: absolute;
     }
     .Smiley8
     {

         background-image: url("smiley/smiley-8.png");
         height: 134px;
         width: 129px;
         margin-left: 40px;
         position: absolute;
     }
     .Smiley9
     {

         background-image: url("smiley/smiley-9.png");
         height: 134px;
         width: 129px;
         margin-left: 40px;
         position: absolute;
     }
     .Smiley10
     {

         background-image: url("smiley/smiley-10.png");
         height: 134px;
         width: 129px;
         margin-left: 40px;
         position: absolute;
     }
     .Nom
     { /* class pour le nom*/
         text-align: center;
         color: black;
         font-family: 'Varela Round';
         margin-top: 200px ;


     }
     .Prenom
     { /* class pour le Prenom*/
         text-align: center;
         color: black;
         font-family: 'Varela Round';

     }
     body




